.img-thumbnail {
border:none;
padding:none;
margin:none;
border-radius: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "roboto";
}
p, div {
    font-family: "roboto";
}

h1
{font-size: 70px;
	
}





a {
  outline: none;
  color: black;
}
 

a:hover {
    color: grey;
    text-decoration: none;
}


.img-thumbnail:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .8);
}

.background{opacity:50%;}


