.img-thumbnail {
border:none;

margin:20px;
border-radius: 0;
}

body { background: #46AEFF; }

h1, h2, h3, h4, h5, h6 {
    font-family: "roboto";
    color:white;
}
p, div {
    font-family: "roboto";
}

h1
{font-size: 70px;
	
}

a {
  outline: none;
  color: white;
}
 

a:hover {
    color: grey;
    text-decoration: none;
}



.background{opacity:50%;}